<layout name="layout" />
<js href="__PUBLIC__js/jquery-2.0.2.js" />
    <js href="__PUBLIC__ueditor/ueditor.config.js" />    
    <js href="__PUBLIC__ueditor/ueditor.all.min.js" />
    <script>
    $(function(){
        var ue = UE.getEditor('cont',{
            serverUrl :'{:U('Admin/Blog/ueditor')}'
        });
    })
    </script>
 <div id="content" class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="glyphicon glyphicon-header"></i> 添	加	内容</h4>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" action="{:U('Blog/runedit')}" method='post'>
						<volist name='blog' id="vo">
						<div class="form-group">
							<label for="ruleTitle" class="col-sm-2 control-label">文章标题:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="文章标题" name="title" id="ruleTitle" value="{$vo['title']}" />                       <input type="hidden" name="id"  value="{$vo['id']}"/>

							</div>
							<label class="col-sm-2 control-label"></label>
						</div>						

						<div class="form-group">
							<label for="condition" class="col-sm-2 control-label">排序</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="排序" name="" id="condition" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
                        <div class="form-group">
							<label for="condition" class="col-sm-2 control-label">点击次数</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="点击次数" name="click" id="condition" value="{$vo['click']}" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否显示:</label>
							<div class="btn-group col-sm-5" data-toggle="buttons">
								<label class="btn btn-primary">
									<input type="radio"  name="" id="status" checked="checked" value="1" />启用
								</label>

								<label class="btn btn-danger">
									<input type="radio"  name="" id="status" value="0" />禁用
								</label>
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">属性:</label>
							<div class="btn-group col-sm-5">
                            
                            <foreach name='attr' item='value'>
								<label class="checkbox-inline">
                                
										<input type="checkbox" id="inlineCheckbox1"
                                        <?php
                            if(in_array($att,$atts))
                             $checked='checked=checked ';
                             else
                             $checked='';?> <?php echo $checked; ?> value="{$value.id}" name="aid[]" /> {$value.name}
								</label>
                               </foreach>
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label for="pid" class="col-sm-2 control-label" name="pid">所属栏目:</label>
							<div class="col-sm-3">
								<select class="form-control" name="cid">
									<option value="0">===顶级栏目===</option>
									 <?php foreach ($cates as $k => $v):?>
										<option value="<?php echo $v['id'];?>"><?php echo str_repeat('&nbsp;', $v['level'] * 2) .$v['html'] . $v['name']; ?></option>
									<?php endforeach; ?>
								</select>
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
  
  						<div class="form-group">
							<label for="ruleTitle" class="col-sm-2 control-label">添加内容:</label>
							<div class="col-sm-10">
								<textarea name="content" placeholder="添加内容" id="cont"  cols="100%" rows="8" value="{$vo['content']}" >{$vo['content']}</textarea></td>
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-5">
								<button type="submit" class="btn btn-success btn-add">保存</button>
								
							</div>
							
						</div>
						</volist>
					</form>
				</div>

			</div>
		</div>