<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="__PUBLIC__Css/public.css" />
</head>
	<body>
		<form method="post" action="{:U('Auth/addRules')}">
     <table class="Tab">
     	<tr>
     		<th colspan="3" class="cen">添加属性</th>
     	</tr>
     	<tr>
     		<td colspan="2" align="right">规则标识：</td>
     		<td>
     			<input type="text" name="name" />
     		</td>
     	</tr>
     	<tr>
     		<td colspan="2" align="right">规则简述</td>
     		<td>
     			<input type="text" name="nlink" />
     		</td>
     	</tr>
     	<tr>
     		<td colspan="3" align="center">
     			<input type="submit" name="" value="保存" />
     		</td>
     	</tr>
     </table>
     </form>
	</body>
</html>
